@import "views/entries/index.hbs";
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

body {
  background: url("https://zagerclinic.ru/.files/5820/images/a_11.jpg") no-repeat fixed;
  background-size: cover;
  /*font-family: "Finger Paint", serif !important;*/
}

h1, h2, h3, h5, p {
  color: orange;
}

small {
  color: #7aadc0;
}

a {
  color: white;
  text-decoration: none;
}

img {
  display: block;
  width: 300px;
}

div.card {
  width: 50%;
  background-color: #164253;
  box-shadow: 0 0 5px 10px #164253;
}

#course {
  width: 80%;
}

.smoke {
  overflow: hidden;
  font: 5vw/100vh "Finger Paint";
  text-align: center;
  color: transparent;
  backface-visibility: hidden;
}

span {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 5s 3s both;
}

span:nth-child(even){
  animation-name: smoky-mirror;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
            translate3d(15rem,-8rem,0)
            rotate(-40deg)
            skewX(70deg)
            scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
            translate3d(18rem,-8rem,0)
            rotate(-40deg)
            skewX(-70deg)
            scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 29 {
  span:nth-of-type(#{$item}){
    animation-delay: #{(3 + ($item/10))}s;
  }
}
