<h1>Редактирование щебета</h1>

<form action="/personal/edit/{{id}}" method="POST" name="edit">
  <textarea name="editedText">{{post}}</textarea>

  <input type="submit" value="Исправить щебет">
</form>
