<h1>Вход</h1>
<form method="POST" action="/login" name="login">
  <div class="mb-3">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль" name="password">
  </div>
  <button type="submit" class="btn btn-info">Войти</button>
</form>
<h3>{{ error }}</h3>
