{{#if name}}
  <a href="/entries/new" class="block button w-100 mar-t-2 mar-b-3 pad-2 round-1 text-c center">User Login</a>
{{/if}}

<h1>Your Bookmarks</h1>
{{#each courses}}
  <div class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{this.thumbnail}}" class="img-fluid rounded-start" alt="picture">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ this.title }}</h5>
          <a href="/personal/del/{{this.id}}" class="btn btn-outline-primary">Delete</a>
          <a href="{{this.url}}" target="_blank" class="btn btn-outline-primary">More info</a>
        </div>
      </div>
    </div>
  </div>
{{/each}}
