<h5>Sorry, we couldn't find what you were looking for :(</h5>
{{#if user}}
{{else}}
  <h5>Please Sign up and Login:)</h5>
{{/if}}

<div class="btn btn-outline-primary"><a href="/" style="text-decoration: none; color: orange;">Home</a></div>

